@model MatrimonialWebsite.Models.RegistrationDetails
@using System.Data
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron" style="text-align: center; background-color: greenyellow; height:30px">
    <p>
        <h3> Your search for the perfect match ends here! </h3>
    </p>
</div>
@*for (int q = 0; q < Model.DT.Rows.Count; q++)*@
<div>
    <div style="background-color: gainsboro; text-align: right">
        <button type="button" style="background-color: #d1d0f9" onclick="location.href='@Url.Action("ApplyForMeeting","Home",new {RegistrId = @Session["id"]})'"><span>Apply For Meeting</span></button>
    </div>
    @foreach (DataRow row in Model.DT.Rows)
    {
        <div class="row">
            <div class="col-md-12" style="background-color: burlywood; text-align: center;">
                <p>
                    Registration Id - @row["id"]
                </p>
                <p>
                    Full Name - @row["FullName"]
                </p>
                <p>
                    Age - @row["Age"]
                </p>
                <p>
                    Mobile - @row["Mobile"]
                </p>
                <p>
                    <button type="button" style="background-color: #d1d0f9" onclick="location.href='@Url.Action("IntrestData","Home",new {RegistrId = @row["id"]})'"><span>Intrest</span></button>
                <p>
            </div>
        </div>
        <div style="background-color: gainsboro;">
            <br />
        </div>
    }
</div>