@*using MatrimonialWebsite.Models*@

@using MatrimonialWebsite.Models
@model RegistrationDetails

@*@model MatrimonialWebsite.Models.RegistrationDetails*@
@using System.Data
@{
    ViewBag.Title = "ScheduleMeeting";
}

<h2>Schedule Meeting</h2>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("UpdateMeeting", "Home", FormMethod.Post))
    {
        <form>
            <table style="width:100%">
                <tr>
                    <th>Registration Id</th>
                    <th>Full Name</th>
                    <th>Meeeting Date</th>
                    <th>Meeeting Time</th>
                    <th>AM/PM</th>
                    <th></th>
                </tr>
                @foreach (DataRow row in Model.DT.Rows)
                {
                    <tr>
                        <td>@Html.TextBoxFor(a => a.AppliedUserId, new { @value = row["AppliedUserId"], @disabled = "disabled" })</td>
                        <td><input type="text" value="@row["FullName"].ToString()" disabled /></td>
                        <td>@Html.TextBoxFor(a => a.MeetingDate, new { @id = "datepicker", @placeholder = "Meeting Date" })</td>
                        <td>@Html.TextBoxFor(a => a.MeetingTime, new { @placeholder = "00:00" })</td>
                        <td>
                            @*<select name="txtTime" id="txtTime">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>*@

                            @Html.DropDownListFor(a => a.AMorPM,
                                new SelectList(Enum.GetValues(typeof(TimeAMorPM))))

                            @*@Html.DropDownList("AMorPM", new SelectList(Enum.GetValues(typeof(TimeAMorPM))), "--Select TeaType--")*@
                        </td>
                        <td>
                            <button type="submit" style="background-color: #d1d0f9" name="ScheduleMeeting">Schedule Meeting</button>
                        </td>
                    </tr>
                }
            </table>
        </form>
    }
</body>
</html>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
}